
/************************************
* STYLE MAIN
************************************/

.align-center {
  text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    overflow: hidden;
    background-color: #060113;
  }

  section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('./../static/images/sternedrei.png');
    background-size: cover;
    background-position-x: center;
    animation: animatehg 40s linear infinite;
  }

  @keyframes animatehg {

    0%,
    100% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.2);
    }
  }

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
      0 0 0 8px rgba(255, 255, 255, 0.1),
      0 0 20px rgba(255, 255, 255, 1);
    animation: animate 3s linear infinite;
  }

  span::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    height: 1px;
    background: linear-gradient(80deg, white, transparent);
  }

  @keyframes animate {
    0% {
      transform: rotate(315deg) translateX(0);
    }

    70% {
      opacity: 1;
    }

    100% {
      transform: rotate(315deg) translateX(-1000px);
      opacity: 0;
    }
  }

  span:nth-child(1) {
    top: 200px;
    left: 200px;
    animation-delay: 0s;
    animation-duration: 3s;
  }

  span:nth-child(2) {
    top: 600px;
    left: 1200px;
    animation-delay: 0s;
    animation-duration: 2s;
  }

  span:nth-child(3) {
    top: 800px;
    left: 700px;
    animation-delay: 0s;
    animation-duration: 1s;
  }

  span:nth-child(4) {
    top: 100px;
    left: 1300px;
    animation-delay: 0s;
    animation-duration: 2s;
  }

  span:nth-child(5) {
    top: 50px;
    left: 400px;
    animation-delay: 0s;
    animation-duration: 3s;
  }

  span:nth-child(6) {
    top: 300px;
    left: 1200px;
    animation-delay: 0s;
    animation-duration: 1s;
  }

  span:nth-child(7) {
    top: -200px;
    left: 800px;
    animation-delay: 0s;
    animation-duration: 4s;
  }

  span:nth-child(8) {
    top: -400px;
    left: 1300px;
    animation-delay: 0s;
    animation-duration: 1s;
  }

  span:nth-child(9) {
    top: -300px;
    left: 700px;
    animation-delay: 0s;
    animation-duration: 3s;
  }

  span:nth-child(10) {
    top: 500px;
    left: 300px;
    animation-delay: 0s;
    animation-duration: 2s;
  }

#game {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

/************************************
* STYLE GAME User Interface Basis
************************************/
/*
USING FLEX GRID FOR ALIGNMENT:
see: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container
*/

.rockets {
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.rocket {
    background-color: white;
    padding: 1em;
    display: block;
    margin-right: 1em;
    text-align: center;
    height: 250px;
    width: 110px;
    z-index: 99;
}

.rocket:hover {
    opacity: 0.75;
}

/*Standard Game UI Look*/
.ui {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  background-color: rgba(0,0,0, 0.8);
  width: 100%;
  height: 100%;
  z-index: 999;
  padding: 1em;
}

.ui-window {
  padding: 0.2em;
  border: 2px solid black; 
  background-color: white;
  border-radius: 20px;
}

.ui-title {
  border-bottom: 1px solid gray;
  margin-bottom: 1.5em;
  text-align: center;
}

.ui-text {
  font-size: 1.2em;
  clear: both;
  margin-bottom: 1em;
  text-align: center;
}

.ui-panel {
  padding: 1em;
  min-width: 350px;
}

/*macht ui element unsichtbar*/
.ui-hide {
  visibility: hidden;
  display: none;
  z-index: -1;
}

/*macht user interface container hintergrund unsichtbar */
.ui-background-hide {
  z-index: -1;
  background-color: transparent;
}

/************************************
* STYLE Buttons
************************************/

.ui-button {
  background-color: rgba(0,0,0, 0.8);
  color: white;
  width: auto;
  font-size: 1.2em;
  padding: 0.15em 0.75em;
}

.ui-button:hover {
  color: red;
}

.ui-active-button:first-child {
  visibility: hidden;
}
.ui-active-button:last-child {
  visibility: visible;
}

/************************************
* STYLE Controlls UI
************************************/

#controllsMenu {
  display: flex;
  position: absolute;
  width: auto;
  background-color: white;
  z-index: 9991;
  bottom: 0;
  right: 0;
}

.ui-control {
  background-color: white;
  color: black;
  cursor: default;
  width: auto;
  height: auto;
  display: block;
}